


@model Course
@{
    ViewData["Title"] = "New";
}

<h1>New Course</h1>

<form method="Post" action="/Course/SaveCrs">
    <div class="form-group">
        <label asp-for="name">Name</label>
        <input asp-for="name" value="@Model?.name" type="text" class="form-control" placeholder="Enter course name">
        <span asp-validation-for="name" class="text-danger" ></span>
    </div>
    <div class="form-group">
        <label asp-for="degree">Degree</label>
        <input asp-for="degree" value="@Model?.degree" type="number" class="form-control" placeholder="Enter degree">
        <span asp-validation-for="degree" class="text-danger" ></span>
    </div>
    <div class="form-group">
        <label asp-for="mindgree" >Minimum Degree</label>
        <input asp-for="mindgree" value="@Model?.mindgree" type="number" class="form-control" placeholder="Enter minimum degree">
        <span asp-validation-for="mindgree" class="text-danger" ></span>
    </div>
    


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<
<br />
<a href="/Course/ShowAll" class=" btn btn-outline-success"> Back to List </a>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}